## SQLite Database

In [11]:
import sqlite3

## How to connect with database in Python?

1. Import database module<br /><br />
<code>import sqlite3</code><br /><br />

2. Establish connection between python program and db<br /><br />
<code>con = sqlite3.connect(database)</code><br /><br />

3. To execute mysql query and hold result cursor is required<br /><br />
<code>cursor = con.cursor()</code><br /><br />

4. Execute MySql query with the help of cursor object<br /><br />
<code>cursor.execute(query)</code><br /><br />
<code>cursor.executemany()</code><br /><br />

5. fetch the result from cursor object in case of select query<br /><br />
<code>cursor.fetchone()</code><br /><br />
<code>cursor.fetchall()</code><br /><br />
<code>cursor.fetchmany(n)</code><br /><br />

6. commit or rollback changes based on your requirement<br /><br />
<code>con.commit()</code><br /><br />
<code>con.rollback()</code><br /><br />

7. close the resources and disconnect database<br /><br />
<code>cursor.close()</code><br /><br />
<code>con.close()</code><br /><br />

In [37]:
import sqlite3

con = sqlite3.connect('kanav.db')

print("Opened database successfully")

con.close()

Opened database successfully

In [26]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    print(con)
    
finally:
    con.close()
    print('DONE!!')

<sqlite3.Connection object at 0x026517A0>
DONE!!

## Creating Database Table

In [38]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    query = 'create table employees(eno int(5) primary key, \
    ename varchar(10), eage int(3))'
    
    cursor.execute(query)
    
    print('Table created successfully!!')
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')
    
# '''
# query = 'create table employees1(eno int(5) primary key, \
#     ename varchar(10), eage int(3), eincome double(10,2), \
#     foreign key(eno) references employees(eno))'
# '''

Table created successfully!!
DONE!!

## Adding new columns

In [39]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    query = 'alter table employees add column eincome double(10,2)'
    
    cursor.execute(query)
    
    print('Column added Successfully!!')
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

Column added Successfully!!
DONE!!

## Insert Operation

In [40]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    query = "insert into employees(eno, ename, eage, eincome) \
    values(1,'lmn',30,70000)"
    
    cursor.execute(query)
    
    con.commit()
    
    print('Row inserted Successfully')
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

Row inserted Successfully
DONE!!

In [42]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    query = "insert into employees(eno, ename, eage, eincome) \
    values(?,?,?,?)"
    
    records = [(3, 'xyz', 33, 40000),(4, 'abc', 23, 23000)]
    
    cursor.executemany(query, records)
    
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

DONE!!

## Read Operation

In [49]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    query = 'select * from employees'
    
    cursor.execute(query)
    
    data = cursor.fetchall()
    
    for row in data:
        print('Eno: {}, Ename: {}, Eage: {}, Esal: {}'\
             .format(row[0], row[1], row[2], row[3]))
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

Eno: 3, Ename: xyz, Eage: 33, Esal: 40000.0
Eno: 4, Ename: abc, Eage: 23, Esal: 23000.0
DONE!!

## Update Operation

In [46]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    query = "update employees set eage=eage+1 where ename = 'lmn'"
    
    cursor.execute(query)
    
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

DONE!!

## Delete Operation

In [48]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    age = input('Enter age: ')
    
    query = "delete from employees where eage={}".format(age)
    
    cursor.execute(query)
    
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

Enter age: 31
DONE!!